name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --hook-stage manual --all-files
      - name: Run PyLint
        run: |
          echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
          pipx run nox -s pylint

  checks:
    name:
      "py:${{ matrix.python-version }} np:${{ matrix.numpy-version }} os:${{
      matrix.runs-on }}"
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.12"]
        numpy-version: ["latest"]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

        include:
          - python-version: "pypy-3.10"
            numpy-version: "latest"
            runs-on: ubuntu-latest
          - python-version: "3.9"
            numpy-version: "1.22.0"
            runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install old NumPy
        if: matrix.numpy-version != 'latest'
        run: python -m pip install numpy==${{ matrix.numpy-version }}

      - name: Install package
        run: python -m pip install .[test]

      - name: Print NumPy version
        run: python -c 'import numpy as np; print(np.__version__)'

      - name: Test package
        run: >-
          python -m pytest -ra --cov --cov-report=xml --cov-report=term
          --durations=20

      - name: Upload coverage report
        uses: codecov/codecov-action@v4.4.0
